name: ci.yml
on:
  push:
    branches:
      - "**"
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install required packages
        run: |
          sudo apt update
          sudo apt install -y build-essential ninja-build cmake clang-tidy
      - name: Configure cmake
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug -G Ninja
      - name: Build
        run: cmake --build build
      - name: Run tests
        run: |
          mkdir -p build/test-results
          cd build
          ctest --output-on-failure